div {
    text-align: center;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
}

#counter {
  background-color: #dddddd;
}

#button {
  background-color: #ff0000;
}
